body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #FFCD00;
      margin: 0;
      padding: 0;
      color: #222;
    }
    .container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
    }
    h2 {
      font-size: 26px;
      margin-bottom: 10px;
    }
    p.description {
      font-size: 18px;
      color: #4b3b2a;
    }
    label {
      display: block;
      margin-top: 25px;
      font-weight: bold;
      font-size: 20px;
    }
    input[type="text"], input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 10px;
      border: none;
      border-bottom: 2px solid #444;
      background: transparent;
      font-size: 20px;
      
    }
  
    #phone{
      width: 100%;
      padding: 10px;
      padding-left: 55px;
      margin-top: 8px;
      border: none;
      border-bottom: 2px solid #444;
      background: transparent;
      font-size: 20px;
    }
    .phone-field {
      display:flex ;
      align-items: center;
      width: 100%;
    }
    .button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

button {
    
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    margin: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    width: 90%;
}
    .footer {
      text-align: center;
      font-size: 16px;
      margin-top: 20px;
    }
    .footer .a {
      color: #000;
      text-decoration: underline;
      font-weight: bold;
    }
